:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --main-font: 'Roboto', sans-serif;
  --font-size: 14px;
  --letter-spacing: 0.03em;
  --font-weight: 400;
  --grid-gap: 30px;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
}

/* utilities*/

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--title-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

.header {
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 93px;

  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.logo span {
  color: var(--accent-color);
}

.header .link {
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .active {
  color: var(--accent-color);
}

.auth-nav {
  margin-left: auto;
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .icon {
  margin-right: 10px;
  fill: currentColor;
}

/*   hero   */
.hero {
  text-align: center;
  background-color: var(--dark-background-color);
}

.hero .background-container {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-background-color);
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
}

.hero .button {
  padding: 10px 32px;
  border-radius: 4px;
  border-style: none;

  color: var(--primary-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  cursor: pointer;
}

/* advantages */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
}

.advantages-list .item {
  flex-basis: calc((100% - 3 * var(--grid-gap)) / 4);
}

.advantages-list .item + .item {
  margin-left: var(--grid-gap);
}

.advantages-list .icon-wrapper {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--secondary-background-color);
}

.advantages-list .title {
  margin-bottom: 10px;

  font-size: var(--font-size);
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list .text {
  line-height: 2;
}

/* Activities */

.activities {
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
}

.activities-list {
  display: flex;
}

.activities-list .item {
  flex-basis: calc((100% - 2 * var(--grid-gap)) / 3);
}

.activities-list .item + .item {
  margin-left: var(--grid-gap);
}

/* Team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.secondary-background {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
}

.team-list > .item {
  flex-basis: calc((100% - 3 * var(--grid-gap)) / 4);
  border-radius: 0 0 4px 4px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list > .item + .item {
  margin-left: var(--grid-gap);
}

.team-list .item-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}

.team-list .text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links > .item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  color: #afb1b8;
}

.social-links.team-links > .item:hover,
.social-links.team-links > .item:focus {
  background: #2196f3;
  color: #ffffff;
}

.social-links > .item + .item {
  margin-left: 10px;
}

.social-links .icon {
  fill: currentColor;
}

/*Clients*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-list > .item {
  flex-basis: calc((100% - 5 * var(--grid-gap)) / 6);
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-list > .item + .item {
  margin-left: var(--grid-gap);
}

.clients-list .link {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
}

.clients-list .item:hover,
.clients-list .item:focus {
  border-color: #2196f3;
}

.clients-list .link:hover,
.clients-list .link:focus {
  color: #2196f3;
}

.clients-list .icon {
  fill: currentColor;
}

/* Footer */

.footer {
  background-color: var(--dark-background-color);
  color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
  color: var(--primary-background-color);
}

.footer-contacts {
  font-style: normal;
}

.footer-contacts .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts .link {
  display: block;

  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item + .item {
  margin-left: 8px;
}

.filter .button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
}

.filter .button.current,
.filter .button:hover,
.filter .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--grid-gap));
  margin-left: calc(-1 * var(--grid-gap));
}

.portfolio-list .item {
  flex-basis: calc(100% / 3 - var(--grid-gap));
  margin-top: var(--grid-gap);
  margin-left: var(--grid-gap);
}

.portfolio-list .link {
  display: block;
}

.portfolio-list .content {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top-color: transparent;
}

.portfolio-list .title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
